body {
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  margin: 0;
  height: 900px;
}

header {
  display: block;   
  margin: 0px;

}
.header-container {
  display: flex;
  flex-direction: column; 
  background-color: #1f2937;

  margin:0px
}
.menu {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}
.menu ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}
.menu li{
  color: #e5e7eb;
  font-size: 18px;
}
.hero{
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.hero-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  justify-content: flex-end;
  flex: 1;
  align-items: flex-start;
}

.box {
align-items: start;
}

button {

  flex-shrink: 0;
  flex-grow: 0;
  width: 90px ;
  height: 25px;
  background-color: #3882f6;
  border-radius: 4px;
  color: #f9faf8;


}

.hero-image{
  display: flex;
  background-color: #aeafb1;
  color: #E5E7EB;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  padding: 30px;

}

.first-section h2 {
  text-align: center;
}

.first-section-block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}



.first-section-image {
  display: block;
  text-align: center;
  margin-bottom: 10px;
  border-color: #3882f6;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  width: 100%;
  height: 100px;
  flex-wrap: wrap;
}

.image-text{
  display:flex;
  width: 15%;
  height: 15%;
  align-items: self-start;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;

}

.second-section {
  background-color: #e5e7eb;
  color: #1f2937;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}
.quote-container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}
.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: #1f2937;
  text-align: right;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #1f2937;
  flex: 1;
  color: #f9faf8;
}
footer p {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
}

.hero h2 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.third-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #3882f6;
  margin-left: 20%;
  margin-right: 20%;
  height: 150px;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  

}
.call-to-action{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  flex:initial;
  color: #f9faf8;

}

.call-to-action h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.call-to-action p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.third-section button {
  border-radius: 4px;
  border-width: 1px;
  color: #f9faf8;
  border-color: #f9faf8;

}
